@CHARSET "ISO-8859-1";

#btn-fire {
	background-image: url('images/fire-black.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5px;
	width: 2.5em;
    height: 2.5em;
}

#incident-label {
	display:inline-block;
	padding-bottom: 0.75em;
}

.incident-sub-label {
	font-weight:bold;
	font-family: Arial,sans-serif;
	color: #004276;
	padding-right: 0.25em;
	width: 10em;
	float:left;
	text-align:right;
}

#alarm-div {
	padding-bottom: 0.50em;
}

#fire-loc-div {
	padding-bottom: 0.75em;
}

#btn-response {
	display:block;
   	margin: 0 auto;
}

#processing {
	font-size: 1.25em;
	font-weight: bold;
	padding-left: 3.0em;
	margin-top: 8px;
	margin-bottom: 2px;
}

#resp-counts {
	float:left;
	margin-right: 1.75em;
}

#resp-basic-info-div {
	font-size: 1.1em;
	font-family: Arial,sans-serif;
	color: #004276;
	font-weight: bold;
	margin-bottom: 0.50em;
}

#resp-unit-count, #resp-station-count, 
#resp-first-arrival, #resp-last-arrival {
	font-weight: bolder;
}

.resp-basic-info {
	display:inline-block;
	margin-bottom: 0.25em;
}

#resp-table-title {
	font-weight: bold;
	font-size: 1.1em;
	font-family: Arial,sans-serif;
	color: #004276;
	display: inline-block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}