@CHARSET "ISO-8859-1";

#wrapper {
	position: relative;
}

#queryPane {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 99;
	background-color: #F6F6F6;
	padding: 1em;
	border-radius: 6px;
	border-color: #989898;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 15px #5F5F5F;
}

#queryLabel {
	display: block;
	padding-bottom: 0.25em;
}

#unitDiv {
	float: left;
}

#deptDiv {
	float: left;
}

#stationDiv {
	float: left;
}

#searchBtnDiv {
	float: right;
}

.queryLabel {
	font-size: 1.5em;
	font-family: Arial,sans-serif;
	color: #004276;
	
}

.paneLabel {
	font-size: 1.85em;
	font-weight: bold;
	font-family: Arial,sans-serif;
	color: #004276;
}