@CHARSET "ISO-8859-1";

#wrapper {
	position: relative;
}

#queryPane {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 99;
}

#queryLabel {
	display: block;
	padding-bottom: 0.25em;
}

#unitDiv {
	float: left;
}

#deptDiv {
	float: left;
}

#stationDiv {
	float: left;
}

#searchBtnDiv {
	float: right;
}
