@CHARSET "ISO-8859-1";

#wrapper {
	position: relative;
}

.query-sub-label {
	font-weight:bold;
	font-family: Arial,sans-serif;
	color: #004276;
}

#queryLabel {
	display: block;
	padding-bottom: 0.25em;
}

#unitDiv {
	float: left;
	margin-right: 0.75em;
}

#deptDiv {
	float: left;
	margin-right: 0.75em;
}

#stationDiv {
	float: left;
	margin-right: 0.75em;
}

.labelDiv {
	margin-bottom: 0.25em;
}

#searchBtnDiv {
	float: right;
}
