@CHARSET "ISO-8859-1";

#station-info-dialog {
	background-color: #F9F9F9;
	margin-right: 0px !important;
}

#stat-info-table {
	margin-top: 1em;
}

#stat-info-table-title {
	font-weight: bold;
	font-size: 1.1em;
	font-family: Arial,sans-serif;
	color: #004276;
	display: inline-block;
	margin-bottom: 0.25em;
}

#stat-info-unit-table {
	margin-top 1em;
}

#stat-info-header {
	font-weight: bold;
	font-size: 1em;
	font-family: Arial,sans-serif;
	color: #004276;
}

.stat-info-row {
	font-size: 1em;
	font-family: Arial,sans-serif;
	color: #004276;		
}

.stat-info-even {
	background-color: #ECECEC;
}

.stat-info-cell {
	padding: 0.5em 0.5em 0.5em 0.25em;
	text-align: left;
}

th.stat-info-cell {
	background-color: #E0E0E0;
	border-top: 1px solid #989898;
	border-bottom: 1px solid #989898;
}

#stat-info-unit-table {
	border-bottom: 1px solid #989898;
}

#station-basic-info, #station-contact {
	margin-bottom: 0.75em;	
}

#station-address {
	margin-bottom: 0.75em;
}

.basic-info {
	font-size: 1.3em;
	font-family: Arial,sans-serif;
	color: #004276;
	font-weight: bold;	
}

.address, .contact-info {
	font-size: 1.1em;
	font-family: Arial,sans-serif;
	color: #004276;	
}